<!DOCTYPE html>
<html>

<head>
    <title>ideas 404</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div style="margin: 100px;">
        <h1>An app you'd like to have which would help you in online school</h1>
    </div>
            
    <form id="getInputs-form" method="POST" action="/">
        <textarea name="idea" rows="4" cols="50" style="min-width: 100px; min-height:50px; max-width:500px; max-height: 200px;" placeholder="I want an app that could..."></textarea><br>
        <button type="submit" value="submit">Submit</button><br>
    </form>
</body>

</html>