<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div style="margin-top: 100px;">
            <h1>Thanks for your inputs!</h1>
            <h1>The app will soon be out for your use...</h1>
        </div>
    </body>
</html>